.git
.env
database/mysql
database/paymenter
database/performance_schema
database/sys
database/aria_log*
database/ib*
database/undo*
database/mariadb_upgrade_info
database/multi-master.info
node_modules
vendor
storage/*.key
storage/debugbar
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
