/node_modules
/public/build
/public/default
/public/hot
/public/storage
/storage/*.key
/public/images
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
themes/*
!themes/default
app/Extensions/Servers/Minecraft/*
app/Extensions/Gateways/RazorPay/*
themes/theme-clear/*
.php-cs-fixer.cache
