/.phpunit.cache
/node_modules
/public/default/*
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
themes/*
extensions/Others/Pages
extensions/Servers/LicenseManager
extensions/Servers/Proxmox
!themes/default