/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/public/images
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
app/Extensions/Servers/Minecraft/*
themes/theme-clear/*
.php-cs-fixer.cache