@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@layer components{
    .form-label {
        @apply absolute left-[9px] top-px text-sm text-gray-500 transition-all duration-300 px-1 transform -translate-y-1/2 pointer-events-none peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base group-focus-within:!top-px group-focus-within:!text-sm group-focus-within:!text-logo rounded-md dark:text-darkmodetext dark:bg-darkmode bg-white ;
    }
    
    .form-input {
        @apply w-full px-3 py-3 rounded-md shadow-sm outline-none dark:text-darkmodetext dark:bg-darkmode;
    }

    .form-input.is-invalid {
        @apply border-red-500;
    }
    
    .form-submit {
        @apply px-4 py-2 font-bold text-white rounded-md bg-logo hover:bg-blue-700;
    }
}