@import "tailwindcss";

@plugin '@tailwindcss/forms' {
    strategy: class;
}

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@source "../views";
@source "../../../extensions/**/*.blade.php";
@source "../../../extensions/Servers/Proxmox";
@source "../../../extensions/Others/Pages";

@theme {
    /* Font Family */
    --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif;

    --animate-wiggle: wiggle 1s ease-in-out infinite;
    @keyframes wiggle {
        0%,
        100% {
            transform: rotate(-20deg);
        }
        50% {
            transform: rotate(20deg);
        }
    }
}

@theme inline {
    /* Branding Colors */
    --color-primary: hsl(var(--color-primary));
    --color-secondary: hsl(var(--color-secondary));

    /* Neutral Colors */
    --color-neutral: hsl(var(--color-neutral));

    /* Text Colors */
    --color-base: hsl(var(--color-base));
    --color-muted: hsl(var(--color-muted));
    --color-inverted: hsl(var(--color-inverted));

    /* State Colors */
    --color-success: hsl(var(--color-success));
    --color-error: hsl(var(--color-error));
    --color-warning: hsl(var(--color-warning));
    --color-inactive: hsl(var(--color-inactive));
    --color-info: hsl(var(--color-info));

    /* Background Colors */
    --color-background: hsl(var(--color-background));
    --color-background-secondary: hsl(var(--color-background-secondary));
}

/*
The default border color has changed to `currentColor` in Tailwind CSS v4,
so we've added these compatibility styles to make sure everything still
looks the same as it did with Tailwind CSS v3.

If we ever want to remove these styles, we need to add an explicit border
color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@utility card {
    @apply bg-background-secondary rounded-xl border border-neutral text-base;
}

@utility container {
    @apply max-w-[1380px] mx-auto px-4 sm:px-6 lg:px-8;
}

@utility text-nowrap {
    text-wrap: nowrap;
}

@utility text-wrap {
    text-wrap: wrap;
}

@import "./easymde.css";

::-webkit-scrollbar {
    background: transparent;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    border: solid 0 rgb(0 0 0 / 0%);
    border-right-width: 4px;
    border-left-width: 4px;
    -webkit-border-radius: 9px 4px;
    -webkit-box-shadow:
        inset 0 0 0 1px hsl(var(--color-primary)),
        inset 0 0 0 4px hsl(var(--color-primary));
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
    margin: 4px 0;
}

::-webkit-scrollbar-thumb:horizontal {
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 4px;
    border-bottom-width: 4px;
    -webkit-border-radius: 4px 9px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
