@import 'datatables.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .form-label {
        @apply absolute left-[9px] top-px text-sm text-gray-500 transition-all duration-300 px-1 transform -translate-y-1/2 pointer-events-none peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base group-focus-within:!top-px group-focus-within:!text-sm group-focus-within:!text-logo rounded-md dark:text-darkmodetext dark:bg-darkmode bg-white ;
    }
    
    .form-input {
        @apply w-full px-3 py-3 rounded-md shadow-sm outline-none dark:text-darkmodetext dark:bg-darkmode;
    }
    
    .form-input.is-invalid {
        @apply border-red-500;
    }

    .form-submit {
        @apply px-4 py-2 font-bold text-white rounded-md bg-logo hover:bg-blue-700;
    }

}

:root{
    --secondary-50:#FFF;
    --secondary-100:#FAFCFF;
    --secondary-200:#EBEEF3;
    --secondary-300:#BBBFD2;
    --secondary-400:#808498;
    --secondary-500:#606372;
    --secondary-600:#4D4F60;
    --secondary-700:#353741;
    --secondary-800:#1C1C20;
    --secondary-900:#000;

    --primary-50:#EDF0FF;
    --primary-100:#C6DBFF;
    --primary-200:#9BBEFB;
    --primary-300:#799CD8;
    --primary-400:#5270FD;

    --danger-50:#FFEBEB;
    --danger-100:#FDCFCF;
    --danger-200:#EF9595;
    --danger-300:#DB5858;
    --danger-400:#DC3A3A;

    --success-50:#EBFFF1;
    --success-100:#B5EFCE;
    --success-200:#86DEA0;
    --success-300:#82CE91;
    --success-400:#4EB165;
}

.dark{
    --secondary-50:#1E202D;
    --secondary-100:#313441;
    --secondary-200:#404351;
    --secondary-300:#4F525E;
    --secondary-400:#656874;
    --secondary-500:#7D8091;
    --secondary-600:#AEB2C2;
    --secondary-700:#CACBD2;
    --secondary-800:#F1F1F1;
    --secondary-900:#fff;
}

.button{
    @apply inline-block py-2 px-4 rounded-md text-center font-sans font-medium duration-300;
}

.button-primary{
    @apply bg-primary-400 text-primary-50 hover:bg-primary-300 hover:text-white focus:bg-primary-300 focus:text-white focus:ring-2 ring-primary-300 ring-offset-2 ring-offset-secondary-50 dark:ring-offset-secondary-100;
}

.button-secondary{
    @apply bg-secondary-200 text-secondary-800 hover:bg-secondary-300 hover:text-secondary-900 focus:bg-secondary-300 focus:text-secondary-900 focus:ring-2 ring-secondary-300 ring-offset-2 ring-offset-secondary-50 dark:ring-offset-secondary-100;
}

.button-danger{
    @apply bg-danger-400 text-danger-50 hover:bg-danger-300 hover:text-white focus:bg-danger-300 focus:text-white focus:ring-2 ring-danger-300 ring-offset-2 ring-offset-secondary-50 dark:ring-offset-secondary-100;
}

.button-success{
    @apply bg-success-400 text-success-50 hover:bg-success-300 hover:text-white focus:bg-success-300 focus:text-white focus:ring-2 ring-success-300 ring-offset-2 ring-offset-secondary-50 dark:ring-offset-secondary-100;
}

.button-primary-outline{
    @apply text-primary-400 hover:bg-primary-400 hover:text-white focus:bg-primary-400 focus:text-white focus:ring-2 ring-primary-400 ring-offset-2 ring-offset-secondary-50 dark:ring-offset-secondary-100;
}

.button-secondary-outline{
    @apply text-secondary-800 hover:bg-secondary-200 hover:text-secondary-900 focus:bg-secondary-200 focus:text-secondary-900 focus:ring-2 ring-secondary-200 ring-offset-2 ring-offset-secondary-50 dark:ring-offset-secondary-100;
}

.button-danger-outline{
    @apply text-danger-400 hover:bg-danger-400 hover:text-white focus:bg-danger-400 focus:text-white focus:ring-2 ring-danger-400 ring-offset-2 ring-offset-secondary-50 dark:ring-offset-secondary-100;
}

.button-success-outline{
    @apply text-success-400 hover:bg-success-400 hover:text-white focus:bg-success-400 focus:text-white focus:ring-2 ring-success-400 ring-offset-2 ring-offset-secondary-50 dark:ring-offset-secondary-100;
}

.content{
    @apply container mx-auto items-center px-4 mt-8;
}

.content-box{
    @apply bg-secondary-50 dark:bg-secondary-100 px-6 py-5 rounded-2xl border-2 dark:border-secondary-100 border-secondary-200 duration-300;
}

.dataTables_wrapper .dt-buttons {
    @apply flex items-center space-x-2 text-gray-900 dark:text-white float-left;
}

.dt-buttons .dt-button {
    @apply p-1 mt-2 bg-gray-50 dark:bg-gray-700 rounded-lg;
}

table.dataTable {
    @apply text-gray-500 dark:text-gray-400 mb-4;
}

table.dataTable thead {
    @apply bg-gray-100 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
}

table.dataTable thead th {
    @apply font-medium py-3 px-6;
}

table.dataTable tbody tr.odd {
    @apply bg-gray-50 dark:bg-gray-600;
}

table.dataTable tbody tr td {
    @apply bg-white border-b dark:bg-darkmode2 dark:border-gray-700 py-4 px-6;
}

table.dataTable tfoot {
    @apply text-xs text-gray-700 uppercase dark:text-gray-400;
}

table.dataTable tfoot th {
    @apply font-medium py-3 px-6;
}

.dataTables_filter {
    @apply p-2 float-right;
}

.dataTables_filter label{
    @apply flex items-center space-x-4 text-gray-900 dark:text-white;
}

.dataTables_filter input {
    @apply ml-2 block p-2 w-80 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.dataTables_info{
    @apply p-2 bg-white dark:bg-darkmode2 float-left text-gray-500 dark:text-gray-400;
}

.dataTables_paginate {
    @apply p-2 bg-white dark:bg-darkmode2 float-right text-gray-500 dark:text-gray-400 pt-3;
}

.dataTables_paginate span a {
	@apply py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darkmode2 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
}

.dataTables_paginate span a.current {
	@apply z-10 py-2 px-3 leading-tight text-blue-600 bg-blue-50 border border-blue-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white;
}      

.dataTables_paginate .next {
 	@apply py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darkmode2 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white; 
}

.dataTables_paginate .previous {
	@apply py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darkmode2 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
}

.dataTables_wrapper {
    @apply relative mb-20;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #1A202C #5270fd;
}   

*::-webkit-scrollbar {
    width: 15px;
    box-shadow: 0 0 0 1px #1A202C;
}

.dark *::-webkit-scrollbar-track {
    background: #1A202C;
}

.dark *::-webkit-scrollbar-thumb {
    background-color: #5270fd;
    border-radius: 20px;
    border: 3px solid #1A202C;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #5270fd;
    border-radius: 20px;
    border: 3px solid #ffffff;
}