name: Beta Build

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:
      - name: Code checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: '8.3'
      - name: Install dependencies
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
          npm i

      - name: Build
        run: npm run build

      - name: Create release branch and bump version
        run: sed -i "s/    'version' => 'development',/    'version' => 'beta',/" config/app.php

      - name: Add commit sha to app.php
        run: sed -i "s/    'commit' => '',/    'commit' => '${{ github.sha }}',/" config/app.php

      - name: Create beta archive
        run: | 
            rm -rf node_modules vendor tests CODE_OF_CONDUCT.md CONTRIBUTING.md flake.lock flake.nix phpstan.neon phpunit.xml shell.nix
            tar -czf paymenter.tar.gz * .env.example .gitignore

      # Upload artifact
      - name: Upload archive
        uses: shallwefootball/s3-upload-action@master
        with:
          aws_key_id: ${{ secrets.CF_R2_KEY_ID }}
          aws_secret_access_key: ${{ secrets.CF_R2_KEY_ACCESS }}
          aws_bucket: paymenter-api
          endpoint: ${{ secrets.CF_R2_ENDPOINT }}
          source_dir: paymenter.tar.gz

      # Add to action file
      - name: Upload archive to https://api.paymenter.org/beta
        uses: JantHsueh/upload-file-action@master
        with:
          url: https://api.paymenter.org/beta
          forms: '{"api_key": "${{ secrets.API_KEY }}"}'
          fileForms: '{"file": "paymenter.tar.gz"}'